*.log
*.dump
nodes.conf
*.aof
*.rdb
*.pid
.vscode/
.vs/
sln/redis-5.0.12-zk/.vs/
sln/redis-5.0.12-zk/obj/
trunk/redis-5.0.12/.vscode/
trunk/redis-5.0.12/.vs/
*.o
*.old
*.a
*.so
*.so.*
*.la
*.lai
*_test
*_unittest
docs/
benchmark/
.libs/
m4/
*.pc
*.am
*.in
*.guess
*.m4
*.png
*.gif
*.dot
m4/
*.c.o.d
*.cmake
CMakeFiles/
docs/
CmakeCache.txt
